1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

'*'

&#39;hello&#39;

-87.8

-

/

+

6

**Ans : Here 'hello' , -87.8, 6 are values and (*, - , / ,+) are expressions**

2. What is the difference between string and variable?


**Stirng is sequence of characters for example "1234", "Ineuron", "True"**
**And variable is storage location which stores the different type of values like integers, strings and boolean etc, And below are some examples of variables which hold different kind of values**

In [6]:
_a = True
_a

True

In [7]:
type(_a)

bool

In [8]:
b="True"
b

'True'

In [9]:
type(b)

str

In [10]:
c = 1234
c

1234

In [11]:
type(c)

int

In [12]:
myValue =45.6
myValue

45.6

In [13]:
type(myValue)

float

In [14]:
Fvalue =2+6j

In [15]:
type(Fvalue)

complex

3. Describe three different data types.

**Integer,
String,
boolean,
complex**

In [16]:
4. What is an expression made up of? What do all expressions do?

Object `do` not found.

4. What is an expression made up of? What do all expressions do

**Expressions are made up with diffrent values , variables, datatypes , operators. Expression can executes the logic which we are configured to resulting some value which we are expected**

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

**Expression are used to produce values and statements are used to perform specific actions**

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [17]:
bacon =22

In [18]:
bacon+1

23

In [19]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Object `be` not found.

'spamspamspam'

In [20]:
'spam' + 'spamspam'

'spamspamspam'

In [21]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

**variable name should not be like starts with integer**

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [23]:
#To convert string into integer 
int('123')

123

In [24]:
#To convert float to integer
float(123)

123.0

In [25]:
#To convert int to string
str(123)

'123'